<div class="container secondFont mt-sm-3 mt-3">
    <div class="row mb-sm-3 mb-3">
        <div class="col">ADMINISTRACIÓN DE PRODUCTOS</div>
    </div>
    <div class="row">
        <div class="col-sm-2 mb-sm-0 mb-5">
            <button type="button" class="btn btn-outline-primary secondFont rounded-0" data-toggle="modal" data-target="#add">Agregar</button>
            <!-- Modal fo adding -->
            <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <form action="/admin/add-product" method="post">
                        <div class="row">
                            <div class="col-sm-6 mb-sm-3 col-6">Titulo: <input id="title" name="title" class="secondFont" type="text" required></div>
                            <div class="col-sm-6 mb-sm-3 col-7">Precio: MXN $<input id="price" name="price" class="secondFont" type="text" required></div>
                            <div class="col-sm-6 mb-sm-3 col-7">Descripción:<textarea class="secondFont" name="descr" id="descr" cols="20" rows="4"></textarea></div>
                            <div class="col-sm-6 mb-sm-3 col-7">Detalles: <textarea class="secondFont" name="details" id="details" cols="20" rows="4"></textarea></div>
                            <div class="col-sm-6 mb-sm-3 col-6">Tipo: <input id="type" name="type" class="secondFont" type="text" required></div>
                            <div class="col-sm-6 mb-sm-3 col-7">Estilo: <input id="style" name="style" class="secondFont" type="text" required></div>
                            <div class="col-sm-6 mb-sm-3 col-6">Foto: <input id="img" name="img" class="secondFont" type="text" required></div>
                            <div class="col-sm-12 mt-3"><button type="submit" class="btn btn-outline-primary secondFont rounded-0">Agregar</button></div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-sm-10">
            {{#each products}}
            <div class="row mb-3 mb-sm-1 border-bottom">
                <div class="col-sm-1 col-3"><img src="{{imagePath}}" class="img-fluid" alt="img"></div>
                <div class="col-sm-3 col-2">{{title}}</div>
                <div class="col-sm-2 col-2">${{price}} MXN</div>
                <div class="col-sm-1 col-3">{{type}}</div>
                <div class="col-sm-1 col-3">{{style}}</div>
                <!-- Button trigger modal -->
                <div class="col-sm-1 col-4">
                    <button type="button" class="btn btn-outline-success secondFont rounded-0" data-toggle="modal" data-target="#modal{{this._id}}">Editar</button>
                </div>
                <!-- Button trigger modal -->
                <div class="col-sm-1 col-4"><button type="button" class="btn btn-outline-danger secondFont rounded-0" data-toggle="modal" data-target="#delete{{this._id}}">Borrar</button></div>
                <!-- Modal for updating -->
                <div class="modal fade" id="modal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/admin/update-product" method="post">
                            <div class="row">
                                <input type="hidden" id="custId" name="custId" value="{{this._id}}">
                                <div class="col-sm-6 mb-sm-3 col-6">Titulo: <input id="title" name="title" class="secondFont" type="text" value="{{title}}"></div>
                                <div class="col-sm-6 mb-sm-3 col-7">Precio: MXN $<input id="price" name="price" class="secondFont" type="text" value="{{price}}"></div>
                                <div class="col-sm-6 mb-sm-3 col-7">Descripción:<textarea class="secondFont" name="descr" id="descr" cols="20" rows="4">{{descr}}</textarea></div>
                                <div class="col-sm-6 mb-sm-3 col-7">Detalles: <textarea class="secondFont" name="details" id="details" cols="20" rows="4">{{details}}</textarea></div>
                                <div class="col-sm-6 mb-sm-3 col-6">Tipo: <input id="type" name="type" class="secondFont" type="text" value="{{type}}"></div>
                                <div class="col-sm-6 mb-sm-3 col-7">Estilo: <input id="style" name="style" class="secondFont" type="text" value="{{style}}"></div>
                                <div class="col-sm-12 mt-sm-0 mt-3"><button type="submit" class="btn btn-outline-success secondFont rounded-0">Guardar</button></div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
                </div>
                <!-- Modal for deleting-->
                <div class="modal fade" id="delete{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/admin/delete-product" method="post">
                            <input type="hidden" id="custId" name="custId" value="{{this._id}}">
                            <div class="row">
                                <div class="col-12 mb-sm-3">Seguro que quieres elminiar el producto?</div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img src="{{imagePath}}" class="img-fluid" alt="img">
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <div class="col-12">{{title}}</div>
                                        <div class="col-12">${{price}} MXN</div>
                                        <div class="col-12">{{type}}</div>
                                        <div class="col-12">{{style}}</div>
                                    </div>
                                    <button type="submit" class="btn fluid btn-outline-danger position-absolute fixed-bottom secondFont rounded-0">Eliminar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    </div>
                </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>