<div class="container secondFont">
    <div class="row mt-sm-4 mt-3">
        <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <a href="/admin" class="btn btn-outline-primary secondFont rounded-0">return</a>
        </div>
        <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <form action="/admin/order" method="get">
                <input type="hidden" class="form-control form-control-sm" id="onlyGuest" name="onlyGuest" value="true">
                <button type="submit" class="btn btn-outline-primary secondFont rounded-0">guest only</button>
            </form>
        </div>
        <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <form action="/admin/order" method="get">
                <input type="hidden" class="form-control form-control-sm" id="onlyUsers" name="onlyUsers" value="true">
                <button type="submit" class="btn btn-outline-primary secondFont rounded-0">users only</button>
            </form>
        </div>
         <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <form action="/admin/order" method="get">
                <input type="hidden" class="form-control form-control-sm" id="onlyProcessing" name="onlyProcessing" value="true">
                <button type="submit" class="btn btn-outline-primary secondFont rounded-0">processing</button>
            </form>
        </div>
        <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <form action="/admin/order" method="get">
                <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="id, email, name or status" id="checkData" name="checkData">
                <button type="submit" class="btn btn-outline-primary secondFont rounded-0 mt-sm-4 mt-4 mb-4">search</button>
            </form>
        </div>
        {{#each data.order}}
        <div class="col-sm-2 col-6 mt-sm-5 mt-4 text-center">
            <div class="row">
                <div class="col-sm-12 col-12">order id: <a href="/info/{{orderId}}/details">{{orderId}}</a></div>
                <div class="col-sm-12 col-12">order date: {{orderDate}}</div>
                <div class="col-sm-12 col-12">order status: {{orderStatus}}</div>
                <div class="col-sm-12 col-12">order name: {{name}}</div>
                 <!-- Button trigger modal -->
                <div class="col-sm-6 col-12 mt-1">
                    <button type="button" class="btn btn-outline-primary secondFont rounded-0" data-toggle="modal" data-target="#modal{{this._id}}">details</button>
                </div>
                <!-- Button trigger modal -->
                <div class="col-sm-6 col-12 mt-1">
                    <button type="button" class="btn btn-outline-danger secondFont rounded-0" data-toggle="modal" data-target="#delete{{this._id}}">delete</button>
                </div>
            </div>
        </div>
        {{/each}}
        {{#each data.order}}
        <!-- Modal for updating-->
        <div class="modal fade" id="modal{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered" role="document">
                 <div class="modal-content">
                     <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <form action="/admin/update-order" method="post">
                        <div class="row">
                            <input type="hidden" id="orderId" name="orderId" value="{{this._id}}">
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">order id: <a href="/info/{{orderId}}/details">{{orderId}}</a></div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">order date: {{orderDate}}</div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">payment id: {{paymentId}}</div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">user id: {{user}}</div>
                            {{#if isguest}}
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">order completed as guest</div>
                            {{/if}}
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">email: <br>
                                <input id="email" name="email" class="secondFont" type="text" value="{{email}}" required>
                            </div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">name on the order: <br>
                                <input id="orderName" name="orderName" class="secondFont" type="text" value="{{name}}" required>
                            </div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">address: <br>
                                <input id="orderAddress" name="orderAddress" class="secondFont" type="text" value="{{address}}" required>
                            </div>
                            <div class="col-sm-6 mb-sm-3 col-12 mb-3">comments: <br>
                                <textarea class="secondFont" name="comments" id="comments" cols="20" rows="4">{{comments}}</textarea>
                            </div>
                            <div class="col-sm-6 mb-sm-3 mb-3 col-12">order status:<br>
                                <select class="custom-select custom-select-sm secondFont" id="orderStatus" name="orderStatus">
                                    <option selected>{{orderStatus}}</option>
                                    {{#each ../data.status}}
                                    <option value="{{status}}">{{status}}</option>
                                    {{/each}}
                                </select>
                            </div>
                             <div class="col-sm-12 mt-sm-3 mt-3 text-center">
                                <button type="submit" class="btn btn-outline-primary secondFont rounded-0">save</button>
                            </div>
                        </div>
                        </form>
                     </div>
                 </div>
             </div>
        </div>
        <!-- Modal for deleting-->
        <div class="modal fade" id="delete{{this._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <form action="/admin/delete-order" method="post">
                    <input type="hidden" id="custId" name="custId" value="{{this._id}}">
                    <div class="row">
                        <div class="col-sm-7 col-12">{{orderId}}</div>
                        <div class="col-sm-7 col-12">{{orderDate}}</div>
                        <div class="col-sm-7 col-12">{{orderStatus}}</div>
                        <div class="col-sm-7 col-12">{{name}}</div>
                        <div class="col-sm-5 col-12 mt-1">
                            <button type="submit" class="btn fluid btn-outline-danger secondFont rounded-0">delete forever</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
        </div>
        {{/each}}
    </div>
</div>