<div class="container secondFont">
    <div class="row mt-sm-4 mt-3">
        <div class="col text-center">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark rounded-0 secondFont" data-toggle="modal" data-target="#editUser">
                edit info
            </button>
        </div>
        <div class="col text-center">
            <div class="col-12">welcome {{userInfo.name}}</div>
            {{#each messages}}
                <div class="col text-center text-danger secondFont text-lowercase mt-sm-0 mb-sm-1 mt-1">{{this}}</div>
            {{/each}}
            {{#if goodMessage}}
                <div class="col text-center text-success secondFont text-lowercase mt-sm-0 mb-sm-1 mt-1">{{goodMessage}}</div>
            {{/if}}
        </div>
        {{#if userInfo.isadmin}}
        <div class="col text-center">
            <a class="btn btn-outline-dark rounded-0 secondFont" href="/admin" role="button">control panel</a>
        </div>
        {{/if}}
        <div class="col text-center">
            <a class="btn btn-outline-dark rounded-0 secondFont" href="/user/logout" role="button">sign out</a>
        </div>
    </div>
    <div class="row mt-sm-2 mt-4">
        <div class="col-sm-12 col-12">
            {{#if orders}}
                 <div class="row">
                {{#each orders}}
                    <div class="col-5 col-sm-3 ml-3 ml-sm-5 mt-3 mt-sm-5 text-center borderChange">
                        <div class="mt-2">{{orderId}}</div>
                        <div class="mt-2">{{orderDate}}</div>
                        <div class="mt-2 text-lowercase">{{orderStatus}}</div>
                        <div class="secondFont mt-2 mb-2"><a href="/info/{{orderId}}/details" class="stretched-link"></a>details</div>
                    </div>
                {{/each}}
                </div>
            {{else}}
            <div class="col text-center mt-4 mt-sm-5">
                <div class="mb-sm-2 mb-3">there are no orders</div>
                <div><a class="btn btn-outline-dark secondFont rounded-0 mb-2 mb-sm-4" href="/product/all" role="button">return to the store</a></div>
                <div class="mb-sm-5 invisible">.</div>
            </div>
            {{/if}}
            <div class="mb-sm-5 mb-1 invisible">.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-sm-5 invisible">.</div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <form action="/user/update-user" method="post">
                <div class="row">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" id="custId" name="custId" value="{{userInfo._id}}">
                    <div class="col-sm-6 mb-sm-2 col-12 mb-2">name: <input id="name" name="name" class="secondFont" type="text" value="{{userInfo.name}}"></div>
                    <div class="col-sm-6 mb-sm-2 col-12 mb-2">email: <input id="email" name="email" class="secondFont" type="text" value="{{userInfo.email}}"></div>
                    <div class="col-sm-12 mb-sm-2 mt-sm-2 mt-2 col-12 mb-2 text-center"><button type="submit" class="btn btn-outline-dark secondFont rounded-0">save</button></div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
</div>