<div class="container secondFont">
    <div class="row text-uppercase mt-sm-4 mt-3">
        <div class="col">Mi Perfil</div>
        <div class="col text-right"><a class="btn btn-outline-dark rounded-0 secondFont" href="/user/logout" role="button">Salir</a></div>
    </div>
    <div class="row mt-1">
        <div class="col secondFont text-uppercase">
            {{#each messages}}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">{{this}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/each}}
        </div>
    </div>
    {{#if goodMessage}}
    <div class="row mt-1">
        <div class="col secondFont text-uppercase">
            <div class="alert alert-success alert-dismissible fade show" role="alert">{{goodMessage}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="row">
        <div class="col-12">Nombre: {{userInfo.name}}</div>
        <div class="col-12">Correo: {{userInfo.email}}</div>
        <div class="col-12">Telefono: {{userInfo.phone}}</div>
        <div class="col-12 mt-2">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-dark rounded-0 secondFont" data-toggle="modal" data-target="#editUser">
                Editar datos
            </button>
        </div>
    </div>
    <div class="row mt-sm-5 mt-4">
        <div class="col-sm-12 col-12">
            {{#if orders}}
            <div class="row">
                <div class="col">ORDENES</div>
            </div>
            {{else}}
            <div class="col text-center mt-3 mt-sm-5">
                <div class="mb-sm-5 mb-5 text-uppercase">no hay ordenes, Continua comprando</div>
                <div><a class="btn btn-outline-dark secondFont rounded-0 mb-5" href="/product/todo" role="button">Regresar a la tienda</a></div>
            </div>
            {{/if}}
            {{#each orders}}
            <div class="row-fluid mt-sm-4 mt-4 pl-2 pr-2 pl-sm-0 pr-sm-0">
                <div class="accordion" id="accordionExample">
                    <div class="card-fluid">
                        <div class="card-header row bg-white border-left border-secondary rounded-0" id="headingOne">
                            <div class="col-sm-3">Fecha de la compra: {{orderDate}}</div>
                            <div class="col-sm-3 mt-1 mt-sm-0">No. Orden: {{orderId}}</div>
                            <div class="col-sm-4 mt-1 mt-sm-0">{{orderStatus}}</div>
                            <div class="col-sm-2 text-right mt-sm-0 mt-1"><a class="" type="button" data-toggle="collapse" data-target="#collapse{{_id}}">Ver detalles</a></div>  
                        </div>
                        <div id="collapse{{_id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body row">
                                <div class="col-sm-12">&#9900; Dirección de envio: {{address}}</div>
                                <div class="col-sm-12">&#9900; Nombre en la orden: {{name}}</div>
                                <div class="col-sm-12">&#9900; Productos</div>
                                {{#each this.items}}
                                <div class="col-sm-2 mb-sm-2 col-4"> <img src="{{item.imagePath}}" alt="product" class="img-fluid"></div>
                                <div class="col-sm-2 col-8">{{item.title}}</div>
                                <div class="col-sm-8 col-12 mb-sm-0 mb-3">${{item.price}} MXN x {{qty}} piezas = ${{price}} MXN</div>
                                {{/each}}
                                <div class="col-sm-12">&#9900; Total de la compra: ${{cart.totalPrice}} MXN</div>
                                <div class="col-sm-12">&#9900; Total de productos ordenados: {{cart.totalQty}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-sm-5 invisible">.</div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <form action="/user/update-user" method="post">
                <div class="row">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <input type="hidden" id="custId" name="custId" value="{{userInfo._id}}">
                    <div class="col-sm-6 mb-sm-2 col-7 mb-2">Nombre: <input id="name" name="name" class="secondFont" type="text" value="{{userInfo.name}}"></div>
                    <div class="col-sm-6 mb-sm-2 col-7 mb-2">Email: <input id="email" name="email" class="secondFont" type="text" value="{{userInfo.email}}"></div>
                    <div class="col-sm-6 mb-sm-2 col-7 mb-2">Telefono: <input id="phone" name="phone" class="secondFont" type="text" value="{{userInfo.phone}}"></div>
                    <div class="col-sm-6 mb-sm-2 mt-sm-2 col-7 mb-2"><button type="submit" class="btn btn-outline-dark secondFont rounded-0">Guardar</button></div>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
</div>