<div class="container secondFont">
    <div class="row mt-sm-5 mt-3">
        <div class="col-12 text-center">AYUDA</div>
        <div class="col-12 text-center mt-sm-5 mt-4">55 19 50 60 54 | hola@lupitabrand.com</div>
        <div class="col-sm-12 text-center mt-sm-5 mt-4 mb-4">
            <button type="button" class="btn btn-outline-dark rounded-0 secondFont" data-toggle="modal" data-target="#checkOrder">Checa tu orden</button>
        </div>
        {{#if empty}}
        <div class="col-sm-12 text-center text-uppercase mb-3 mb-sm-0 font-weight-normal">No se encontró nada. Vuelve a intentar tu número de orden o contáctanos directamente &#8679;</div>
        {{/if}}
        {{#if orderdata}}
        <div class="col-sm-12 text-center mb-3 mb-sm-0">
            <button type="button" class="btn btn-outline-dark rounded-0 secondFont" data-toggle="modal" data-target="#checkOrderInfo" id="orderInfoBtn">Ver información de nuevo</button>
        </div>
            {{#each orderdata}}
            <!-- Modal for display order data-->
            <div class="modal fade" id="checkOrderInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-body">
                    <div class="col-sm-12 col-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="text-uppercase">* Orden No. {{orderId}} *</div>
                    </div>
                    <div class="col-sm-12 mb-3">{{orderStatus}}</div>
                    <div class="col-sm-12">&#9900; Fecha de la compra: {{orderDate}}</div>
                    <div class="col-sm-12">&#9900; Dirección de envio: {{address}}</div>
                    <div class="col-sm-12">&#9900; Nombre en la orden: {{name}}</div>
                    <div class="col-sm-12">&#9900; Productos</div>
                    {{#each cart.items}}
                    <div class="col-sm-3 mb-sm-2 col-5"><img src="{{item.imagePath}}" alt="product" class="img-fluid"></div>
                    <div class="col-sm-2 col-8">{{item.title}}</div>
                    <div class="col-sm-8 col-12 mb-sm-3 mb-3">${{item.price}} MXN x {{qty}} piezas = ${{price}} MXN</div>
                    {{/each}}
                    <div class="col-sm-12">&#9900; Total de la compra: ${{cart.finalPrice}} MXN</div>
                    <div class="col-sm-12">&#9900; Total de productos ordenados: {{cart.totalQty}}</div>
                </div>
                </div>
            </div>
            </div>
            <!-- Modal -->
            {{/each}}
        <script>    
        jQuery(function(){
            jQuery('#orderInfoBtn').click();
        });
        </script>
        {{/if}}
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3">
            <a href="/info/atencion" class="text-primary">Atención al cliente</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3">
            <a href="/info/envios" class="text-primary">Envios y Devoluciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3">
            <a href="/info/condiciones" class="text-primary">Términos y Condiciones</a>
        </div>
        <div class="col-sm-3 col-6 text-center mt-sm-5 mt-3 mb-sm-5">
            <a href="/info/politicas" class="text-primary">Políticas</a>
        </div>
    </div>
    <div class="row mt-sm-5 mt-5">
        <div class="col-12 text-center">NOSOTROS</div>
        <div class="col-12 mt-sm-2 mt-2 text-center">Lupita es una tienda especializada en línea con sede en la Ciudad de Mexico, MX de indumentaria y accesorios. Nuestro punto de vista es crear un estilo a la vanguardia del cambio con un atractivo atemporal. Lupita es estilo antes que moda.</div>
    </div>

<!-- Modal for check order -->
<div class="modal fade" id="checkOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-sm-12 col-12">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="text-center secondFont text-uppercase mb-sm-2">checa tu orden</div>
            <form action="/info" method="get">
                <div class="form-group mt-sm-5 mt-3">
                    <input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="Numero de orden" id="checkOrderNo" name="checkOrderNo">
                </div>
                <button type="submit" class="btn btn-outline-dark secondFont rounded-0 mt-sm-5 mt-3 mb-5">Buscar</button>
                <div class="text-center secondFont">*** Si no cuentas con tu numero de orden, porfavor contactanos por correo electronico y escribenos el correo que usaste para tu compra **</div>
                <div class="text-center secondFont"><strong>hola@lupitabrand.com</strong></div>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
</div>