<h4 id="success" class="{{#if noMessage}}hidden{{/if}}">
{{messages}}
</h4>
{{#each products}}
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ imagePath }}"  alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{descr}}</p>
    <p class="card-text">{{price}}</p>
    <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add Cart</a>
  </div>
</div>
{{/each}}