<div class="container secondFont mt-sm-5 mt-3 text-lowercase">
  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="row">
        <div class="col-sm-9 col-9">
          {{#each product.imagePath}}
            {{#if @index}}
              <img src="{{this}}" alt="img" class="img-fluid mySlides">
            {{else}}
              <img src="{{this}}" alt="img" class="img-fluid mySlides" style="display:none;">
            {{/if}}
          {{/each}}
        </div>
        <div class="col-sm-3 col-3">
          <div class="row">
            {{#each product.imagePath}}
              <div class="col-sm-12 mb-sm-2 mb-2"><img src="{{this}}" alt="img" class="img-fluid demo w3-opacity w3-opacity-off" onclick="currentDiv({{@index}} + 1)" style="cursor: pointer;"></div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12 mt-sm-0 mt-2">
      {{#if product.showOnWeb}}
      <a href="/add-to-cart/{{product._id}}" class="btn btn-outline-dark secondFont rounded-0">add</a>
      {{else}}
      <div class="text-danger">this item is unavailable</div>
      {{/if}}
      <div class="secondFont mt-2 mt-sm-4 font-weight-normal">{{product.title}} - ${{product.price}}</div>
      <div class="secondFont mt-1">{{product.descr}}</div>
      <div class="secondFont mt-4">free shipping in all</div>
      <div class="secondFont">purchases over $30</div>
      <div class="secondFont mt-4">{{product.details}}</div>
    </div>
  </div>
</div>
<script>
var slideIndex = 1;
showDivs(slideIndex);
function currentDiv(n) {
  showDivs(slideIndex = n);
}
function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>