<div class="container">
    <div class="row">
        <div class="col secondFont text-uppercase text-left mt-sm-4 mt-3">
            Tu orden
        </div>
    </div>
    <div class="row mt-sm-4 mt-3 secondFont">
        {{#if products}}
        <div class="col-sm-9 col-12 border-right">
            <div class="row border-bottom mb-sm-2 pb-sm-2 cartCol">
                <div class="col">Producto</div>
                <div class="col">Nombre</div>
                <div class="col">Precio unitario</div>
                <div class="col">Cantidad</div>
                <div class="col">Precio</div>
                <div class="col"></div>
            </div>
            {{#each products}}
                <div class="row border-bottom mb-sm-2 pb-sm-2 mb-2 pb-2">
                    <div class="col-3 col-sm-2"><img class="img-fluid" src="{{item.imagePath}}" alt="product"></div>
                    <div class="col-4 col-sm-2">{{item.title}}</div>
                    <div class="col-4 col-sm-2">${{item.price}} MXN</div>
                    <div class="col-7 col-sm-2"><a href="/increase/{{item._id}}">+ </a>{{this.qty}}<a href="/reduce/{{item._id}}"> -</a></div>
                    <div class="col-4 col-sm-2">${{this.price}} MXN</div>
                    <div class="col-12 col-sm-2"><a href="/remove/{{item._id}}">Remover</a></div>
                </div>
            {{/each}}
        </div>
        <div class="col-sm-3 mt-4">
            <div class="row mb-sm-5 mb-3">
                <div class="col-sm-8 col-8 text-left"><input type="text" class="form-control form-control-sm border-top-0 border-right-0 rounded-0 border-dark secondFont text-dark" placeholder="Descuento"></div>
                <div class="col-sm-4 col-4 text-right"><a class="btn btn-outline-dark secondFont rounded-0" href="#" role="button">Aplicar</a></div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-6 text-left">Subtotal</div>
                <div class="col-sm-6 col-6 text-right">${{totalPrice}} MXN</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm-6 col-6 text-left">Descuento</div>
                <div class="col-sm-6 col-6 text-right">$0 MXN</div>
            </div>
            <div class="row mt-sm-5 mt-3">
                <div class="col-sm-6 col-6 text-left">Envio</div>
                <div class="col-sm-6 col-6 text-right">Gratis</div>
            </div>
            <div class="row border-bottom">
                <div class="col-sm-6 col-6 text-left">Impuesto</div>
                <div class="col-sm-6 col-6 text-right">$10 MXN</div>
            </div>
            <div class="row border-bottom mt-sm-5 mt-4 text-uppercase font-weight-bold">
                <div class="col-sm-6 col-6 text-left">Total</div>
                <div class="col-sm-6 col-6 text-right">${{totalPrice}} MXN</div>
            </div>
            <div class="row mt-sm-2 mt-2">
                <div class="col text-right"><a class="btn btn-dark secondFont rounded-0" href="/checkout" role="button">Continuar con el pago</a></div>                
            </div>
        </div>
        {{else}}
        <div class="col text-center mt-3">
            <div class="mb-sm-3 mb-3 text-uppercase">no hay articulos en tu bolsa, Continua comprando</div>
            <div><a class="btn btn-dark secondFont rounded-0" href="/product/todo" role="button">Regresar a la tienda</a></div>
        </div>
        {{/if}}
    </div>
</div>